.container-top{
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: line;
    align-items:    left;
   

}

img{
    width: 120px;
    height: 120px;
   
}

.titulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    margin-left: 15%;  
    margin-top: 1%;
    
}

.container-centro{
    display: flex;
    flex-direction: row;
    border-style: solid;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 10px;
    height: auto;
    width: auto;
}

.carteira{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-left: 2%;
    font-size: 10pt;
    border-style: solid;
    border-width: 1px;
    width: 470px;
}


.container-bottom{
    display: flex;
    flex-direction: line;
    align-items:    left;
    padding-left: 2%;
    padding-top: 5%;
   
}

.filtros{

    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    width: 400px;
    height: 170px;
    flex-direction: column;
}

.forms{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 200px;
    margin-left: 10px;
    font-weight: bold;
}
.text-filtro{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    margin-left: 2%;
    margin-top: 5%;
    font-weight: bold;
}

input{
    width: 200px;
    margin-left: 2%;
}

.table{
    margin-right: 50px;
    margin-left: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    width: 70%;
    height: 300px;
    overflow-y: scroll;
    
}

table{
    width: 100%;
}

th{
    background: rgb(172, 170, 170);
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    padding: 8px;
    text-align: center;
    border: 1px solid #dddddd;
}

td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .buttons-bottom{
      display: flex;
      justify-content: center;
  }