@import '../../../../assets/scss/variables';

.container-top{
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: line;
    align-items:    left;
   
}

img{
    width: 120px;
    height: 120px;
   
}

.titulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    margin-left: 15%;  
    margin-top: 1%;
    
}

.carteira{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-left: 2%;
    margin-top: 2%;
    font-size: 12pt;
    width: 470px;
}


.botao{
margin-top: 10px;
margin-left: 2%;
margin-right: 2%;
}