<div class="container-top">
    <img class="navheader-logo" src="../../../../assets/images/logo.png" alt="logo da prefeitura">     
    <h1 class="titulo">Novo Registro <br> __________________________________________________________</h1>
</div>
<h2 class="carteira">Carteira: código da carteira</h2>
<div class="centro">
    <div class="input-tabela">
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Unidade Gestora:</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Valor:</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="button" class="btn btn-dark" style="margin-left:60px;">Adicionar</button> 
          </form>
    </div>
    <div class="container-fluid">
        <div class="card">
        <div class="card-body" style="padding: 0;">
            <table id="myTable" class="table table-light table-bordered">
            <col style="width: 10%">
            <col style="width: 50%">
            <col style="width: 40%">
            <thead>
                <tr>
                <th>ID</th>
                <th>Unidade Gestora</th>
                <th>Valor Suplementado</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>data da transação</td>
                <td>Nome da unidade gestora</td>
                <td>Valor da transação</td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>
        <div class="botao">
            <button type="button" class="btn btn-dark" style="margin-left: 45%;">Salvar</button>
        </div>
        
    </div>
</div>
